/* line 6, ../../_includes/yahoo_320x50/sass/style.scss */
html,
body {
  margin: 0;
}

/* line 11, ../../_includes/yahoo_320x50/sass/style.scss */
#clickArea {
  position: absolute;
  width: 320px;
  height: 50px;
  margin: 0 auto;
  background: #000;
}

/* line 19, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas:hover {
  height: 480px !important;
}

/* line 23, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas {
  position: absolute;
  width: 320px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  background: #000;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}
/* line 33, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas * {
  position: absolute;
  transition: transform .2s ease-out;
}
/* line 37, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1,
#canvas #scene__2 {
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
}
/* line 44, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 {
  z-index: 2;
  z-index: 1;
}
/* line 46, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #bg_scene {
  width: 320px;
  height: 480px;
}
/* line 50, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #chamadas {
  top: 10px;
  left: 0px;
  z-index: 1;
}
/* line 54, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #chamadas #chamada__frase_1 {
  z-index: 2;
}
/* line 57, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #chamadas #chamada__frase_2 {
  z-index: 2;
  top: 4px;
}
/* line 61, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #chamadas #chamada__frase_3 {
  z-index: 1;
  top: 5px;
}
/* line 65, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #chamadas #bg_shadow {
  top: 0px;
  z-index: 1;
  opacity: 0;
}
/* line 72, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #drink__infos {
  top: 226px;
  left: 0px;
  z-index: 1;
}
/* line 76, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #drink__infos #infos__frase_1,
#canvas #scene__1 #drink__infos #infos__frase_2,
#canvas #scene__1 #drink__infos #infos__frase_3 {
  left: -320px;
}
/* line 81, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #drink__infos #infos__frase_2 {
  top: 28px;
}
/* line 84, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #scene__1 #drink__infos #infos__frase_3 {
  top: 60px;
}
/* line 89, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #boom {
  left: 50px;
  top: 70px;
  z-index: 3;
  opacity: 0;
}
/* line 95, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #saibamais {
  left: -320px;
  top: 326px;
  z-index: 3;
}
/* line 100, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #canvas::hover #link_gpa {
  width: 64px;
  height: 57px;
  bottom: 26px;
  right: 98px;
}
/* line 106, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #link_gpa {
  bottom: 16px;
  right: 8px;
  z-index: 3;
  width: 30px;
  height: 27px;
}
/* line 113, ../../_includes/yahoo_320x50/sass/style.scss */
#canvas #aprecie {
  bottom: 0px;
  right: 0px;
  z-index: 3;
  color: blue;
}
