append vars
//- paths
-var css_dir= "css/"
-var includes= "_includes/"
-var img_dir= "images/"
-var js_dir= "js/"

append attr
-var parallax= {}
- parallax.class = 'drinks'


append name_sections
-var id="id_"
-var cat= {}
- cat.id_1 = " CATEGORIA: CHURRASCO"
- cat.id_2 = " CATEGORIA: ESQUENTA"
- cat.id_3 = " CATEGORIA: RECEBER EM CASA"