/* line 5, ../../_includes/yahoo_425x600/sass/style.scss */
html,
body {
  margin: 0;
}

/* line 10, ../../_includes/yahoo_425x600/sass/style.scss */
#clickTag {
  position: relative;
  width: 425px;
  height: 600px;
  margin: 0 auto;
  background: #000;
  overflow: hidden;
  display: block;
}

/* line 20, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas {
  position: absolute;
  width: 425px;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  background: #000;
  overflow: hidden;
}
/* line 28, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas * {
  position: absolute;
  transition: transform .2s ease-out;
}
/* line 32, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__1,
#canvas #scene__2 {
  width: 425px;
  height: 600px;
  top: 0;
  left: 0;
}
/* line 39, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__1 {
  z-index: 2;
}
/* line 41, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__1 #bg_scene {
  width: 425px;
  height: 600px;
}
/* line 45, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__1 #chamadas {
  top: 120px;
  left: 0px;
  z-index: 1;
}
/* line 49, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__1 #chamadas #chamada__frase_1 {
  z-index: 2;
}
/* line 52, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__1 #chamadas #chamada__frase_2 {
  top: 108px;
  z-index: 2;
}
/* line 56, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__1 #chamadas #chamada__frase_3 {
  top: 188px;
  z-index: 2;
}
/* line 60, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__1 #chamadas #bg_shadow {
  top: -45px;
  z-index: 1;
  opacity: 0;
}
/* line 67, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__2 {
  z-index: 1;
}
/* line 69, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__2 #bg_scene2 {
  width: 425px;
  height: 600px;
}
/* line 73, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__2 #drink__infos {
  top: 242px;
  left: 177px;
  z-index: 1;
}
/* line 77, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__2 #drink__infos #infos__frase_1,
#canvas #scene__2 #drink__infos #infos__frase_2,
#canvas #scene__2 #drink__infos #infos__frase_3 {
  left: -420px;
}
/* line 82, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__2 #drink__infos #infos__frase_2 {
  top: 33px;
}
/* line 85, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #scene__2 #drink__infos #infos__frase_3 {
  top: 73px;
}
/* line 90, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #boom {
  left: 0px;
  top: 60px;
  z-index: 3;
  opacity: 0;
}
/* line 96, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #saibamais {
  left: -320px;
  top: 386px;
  z-index: 3;
}
/* line 101, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #link_gpa {
  bottom: 8px;
  right: 14px;
  z-index: 3;
}
/* line 106, ../../_includes/yahoo_425x600/sass/style.scss */
#canvas #aprecie {
  bottom: 10px;
  left: 5px;
  z-index: 3;
  color: blue;
}
